* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

nav {
  max-width: 100%;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 2px 0;
  font-weight: 700;
}

main {
  margin-top: 100px;
  height: calc(100vh - 160px);
}

ul {
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding: 0 8px;
}

li {
  display: inline-block;
  padding: 6px 16px;
  line-height: 40px;
}

li:nth-child(4), li:nth-child(5), li:nth-child(6) {
  float: right;
}

ul > li:nth-child(3) > a {
  padding: 0 auto;
  color: #092a66;
  font-size: 1.4em;
}

li:first-child, li:nth-child(2) {
  float: left;
}

ul > li input {
  height: 40px;
  background-color: #f0f1f2;
  border: none;
  border-radius: 4px;
  padding: 0 12px;
  color: #1965f2;
  font-size: 1.6rem;
}

ul > li > a {
  color: #1965f2;
  text-decoration: none;
}

ul > li > a > span {
  font-size: 0.6em;
  padding-left: 6px;
}

section {
  padding: 20px 60px;
}

section > img {
  float: left;
  width: 50%;
}

h1 {
  color: #21242c;
  font-size: 3.2em;
  font-weight: 600;
  font-family: 'Source Serif Pro', 'Noto Serif', serif;
}

h1 > span {
  display: block;
}


main a.btn {
  margin: 12px 2px;
}

a.btn {
  display: inline-block;
  background-color: #1965f2;
  color: #FFF;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 4px;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  color: #21242c;
  line-height: 32px;
}
